@media only screen and (min-width: 1058px) and (max-width: 1200px) {

/* Header */
.cabecalho-menu ul {
   margin-right: -30px;
}

/* Index */
.introducao {
   background-size: 110%;
}

.introducao h1, .introducao h2 {
   margin-right: 0px;
}

.descricao-introducao p {
   padding-right: 150px;
   padding-left: 20px;
}

/* Servicos */
.descricao-servicos p {
   padding: 0px 0 0 10px;
   margin: 0 30px 0 30px;
}

.descricao2-servicos p {
   margin: -210px 0px 0 400px;
   padding: 0px;
}

.descricao-servicos img {
   width: 420px;
   height: 280px;
   margin-left: 0px;
}
   
}


/* Modelo para tablet */
@media only screen and (min-width: 788px) and (max-width: 1057px) {

/* Header */

.cabecalho-superior {
   padding-top: 25px;
}

.cabecalho-superior p:nth-child(1) {
   margin-left: 0px;
}

.cabecalho-superior p:nth-child(2) {
   margin-left: 50px;
   margin-right: 0px;
}

.cabecalho-superior p {
   font-size: 13px;
   font-weight: 400;
   margin: 0px 0 0 0;
}

.cabecalho-superior a {
   font-size: 13px;
   margin: 0 0 0px 30px;
   padding: 10px 20px 10px 20px;
   border-radius: 20px;
}

.cabecalho-central img {
   margin-left: 10px;
}

/* Menu hamburguer */
#btn-mobile {
   display: flex;
   margin: -50px 0px 0 730px;
   border: none;
   background: none;
   cursor: pointer;
   float: right;
}

#hamburguer {
   width: 20px;
   border-top: 2px solid;
}

#hamburguer::after, #hamburguer::before {
   content: "";
   display: block;
   width: 20px;
   height: 2px;
   background-color: currentColor;
   margin-top: 5px;
   transition: .3s;
   position: relative;
}

#nav.active #hamburguer {
   border-top-color: transparent;
}

#nav.active #hamburguer::before {
   transform: rotate(45deg)
}

#nav.active #hamburguer::after {
   transform: rotate(-45deg);
   top: -7px;
}

#menu {
   display: none;
   position: absolute;
   width: 750px;
   height: 215px;
   top: 165px;
   left: 0;
   background-color: white;
   z-index: 1000;
}

#menu a {
   margin: 0px;
   padding: 12px 0px 12px 50px;
   transition: .4s;
   display: block;
   width: 750px;
}

#menu a:hover {
   background-color: rgba(79, 105, 0, 0.7);
   color: white;
}

#menu #ativo {
   background-color: #6f9202;
}

#menu #ativo:hover {
   opacity: 0.8;
}

#menu li {
   padding: 0px 0px 0px 0px;
   margin: 0 0 0px 0;
   display: block;
   width: 750px;
   border-top: 1px solid #9e9e9e;
}

#menu li:nth-child(1) {
   border-top: none;
}

#nav.active #menu {
   display: block;
   text-align: left;
}

/* Index */
.introducao {
   background-size: 140%;
}

.descricao-introducao p {
   font-size: 15px;
   padding: 0 180px 10px 80px;
}

.introducao h1, .introducao h2 {
   margin-right: 40px;
}

.lista-atendimentos ul li {
   display: block;
}

.atendimentos-introducao h2::before {
   width: 280px;
   margin-left: 10px;
}

.atendimentos-introducao h2::after {
   width: 280px;
   margin-left: 480px;
   float: right;
}

.convenios-introducao h2::after {
   margin: -15px auto 0 auto;
}

.consultorio-introducao {
   height: 900px;
}

.consultorio-introducao img {
   width: 300px;
   border-radius: 50px;
   padding: 10px;
   margin: 0 400px 0 230px;
}

.consultorio-introducao a {
   padding: 12px 22px 12px 22px;
   border-radius: 20px;
   margin: 0px 0 0px 325px;
   font-size: 15px;
}

#ultima-foto {
   margin-bottom: 30px;
}

.solicitar-consulta a {
   margin: 0px 0 0px 275px;
}

.convenios-introducao ul li img {
   width: 200px;
   margin-left: 20px;
}

/* Contato */
.contato h2::after {
   margin: -15px auto 0 auto;
}

.formulario input, .formulario textarea {
   width: 95%;
}

.formulario select {
   width: 95%;
}

.contato-formulario p {
   padding-right: 150px; 
}

.contato-informacoes {
   margin-right: 20px;
   margin-left: 180px;
   text-align: center;
}

.contato-informacoes p, .contato-informacoes-direita p {
   font-size: 15px;
}

.contato-informacoes-direita {
   text-align: center;
   margin-top: 30px;
   margin-left: 210px;
}

/* Servicos */
.descricao-servicos p {
   padding: 30px 80px 30px 60px;
   margin: 0;
   font-size: 15px;
}

.descricao-servicos img {
   width: 350px;
   height: 200px;
   margin: 0 auto 0 auto;
}

.descricao2-servicos p {
   text-align: left;
   margin: -130px 0 50px 380px;
   padding: 0px;
}

.atendimentos-servicos {
   margin-top: 70px;
}

.atendimentos-servicos h2::before {
   display: none;
}

.atendimentos-servicos h2::after {
   display: none;
}

.atendimentos-servicos h3 {
   font-size: 20px;
}

.atendimentos-servicos p {
   font-size: 15px;
   text-align: center;
   line-height: 24px;
}

.consultorio-servicos img {
   width: 253px;
   height: 225px;
   border-radius: 45px;
   padding: 10px;
   margin-bottom: 0px;
   margin-left: -5px;
}

/* Footer */
.rodape p, .rodape strong {
   font-size: 15px;
}


}

/* Estilo para smartphone */
@media only screen and (min-width: 500px) and (max-width: 787px) {

/* Header Superior */
.cabecalho-superior {
   padding: 10px 0 5px 0;
}

.cabecalho-superior p {
   font-size: 10px;
}

.cabecalho-superior p:nth-child(1) {
   margin: -10px auto 0px auto;
   text-align: center;
}

.cabecalho-superior p:nth-child(2) {
   padding: 30px 0 0px 0;
   margin: 0;
   text-align: left;
}

.cabecalho-superior a {
   padding: 5px 20px 5px 20px;
   font-size: 10px;
   margin: 0px -20px 0px 185px;
}

.botao-header {
   margin-top: -20px;
}

/* Header central */
.cabecalho-central img {
   width: 60%;
   height: 60%;
   margin: 30px 0 0 -10px;
}

/* Menu hamburguer */
#btn-mobile {
   display: flex;
   margin: -50px 0 0 300px;
   border: none;
   background: none;
   cursor: pointer;
}

#hamburguer {
   width: 20px;
   border-top: 2px solid;
}

#hamburguer::after, #hamburguer::before {
   content: "";
   display: block;
   width: 20px;
   height: 2px;
   background-color: currentColor;
   margin-top: 5px;
   transition: .3s;
   position: relative;
}

#nav.active #hamburguer {
   border-top-color: transparent;
}

#nav.active #hamburguer::before {
   transform: rotate(45deg)
}

#nav.active #hamburguer::after {
   transform: rotate(-45deg);
   top: -7px;
}

#menu {
   display: none;
   position: absolute;
   width: 440px;
   height: 215px;
   top: 165px;
   margin-left: -70px;
   background-color: white;
   z-index: 1000;
}

#menu a {
   margin: 0px;
   padding: 12px 0px 12px 50px;
   transition: .4s;
   display: block;
   width: 440px;
}

#menu a:hover {
   background-color: rgba(79, 105, 0, 0.7);
   color: white;
}

#menu #ativo {
   background-color: #6f9202;
}

#menu #ativo:hover {
   opacity: 0.8;
}

#menu li {
   padding: 0px 0px 0px 0px;
   margin: 0 0 0px 0;
   display: block;
   width: 440px;
   border-top: 1px solid #9e9e9e;
}

#menu li:nth-child(1) {
   border-top: none;
}

#nav.active #menu {
   display: block;
   text-align: left;
}


/* Index */
.introducao {
   background-size: 235%;
}

.introducao h1 {
   font-size: 26.6px;
   padding-top: 180px;
   margin-right: -40px;
   line-height: 31.92px;
}

.introducao h2 {
   margin-right: -90px;
   padding-right: 50px;
   line-height: 22px;
}

.descricao-introducao {
   background-position: bottom right;
   height: 297px;
}

.descricao-introducao p {
   padding: 0px 0 10px 0;
   margin-left: -50px;
   margin-right: -50px;
   font-size: 12px;
   line-height: 19.4px;
}

.atendimentos-introducao h2::before {
   width: 50px;
}

.atendimentos-introducao h2::after {
   width: 50px;
   margin-left: 300px;
}

.atendimentos-introducao ul li {
   padding: 30px 20px 20px 40px;
}

.atendimentos-introducao ul li p {
   font-size: 12px;
   margin: -35px 0 20px 60px;
}

.convenios-introducao {
   padding: 50px 0 20px 0;
}

.convenios-introducao h2::after {
   margin: -15px auto 0 auto;
}

.convenios-introducao h3 {
   font-size: 12px;
}

.consultorio-introducao {
   height: 980px;
   margin-bottom: 30px;
}

.consultorio-introducao a {
   padding: 10px 22px 10px 22px;
   margin: 0px 0 0 105px;
   font-size: 12px;
   border-radius: 25px;
}

.solicitar-consulta {
   height: 20px;
}

.solicitar-consulta a {
   margin: 0px 0 0px 77px;
   padding: 10px 20px 10px 20px;
   font-size: 12px;
}

/* Servicos */
.descricao-servicos p {
   padding: 0px 15px 0 15px;
   line-height: 19.4px;
   font-size: 12px;
   text-align: center;
   margin: 30px 20px 0 20px;
}

.descricao-servicos img {
   width: 70%;
   height: 70%;
   margin: 30px 0 0 50px;
}

.descricao2-servicos p {
   text-align: center;
   margin: 20px -90px 0 -90px;
}

.atendimentos-servicos {
   margin-top: 50px;
}

.atendimentos-servicos h2::before, .atendimentos-servicos h2::after {
   display: none;
}

.atendimentos-servicos ul li {
   padding: 50px 20px 0px 30px;
}

.atendimentos-servicos h3 {
   font-size: 16px;
   margin: -50px 0 0px 55px;
}

.atendimentos-servicos p {
   line-height: 19.4px;
   font-size: 12px;
   padding: 20px 0 0 0;
   margin: 0 -10px 0 -10px;
   text-align: center;
}

.consultorio-servicos h2 {
   font-size: 25px;
   padding: 70px 0 5px 0;
}

.consultorio-servicos p {
   font-size: 12.6px;
}

.consultorio-servicos img {
   width: 120%;
   height: 275px;
   border-radius: 65px;
   padding: 40px;
   margin: 0px 0 -50px -28px;
}

/* Contato */
.contato h2 {
   font-size: 25px;
   margin: 30px 0 0px 0;
}

.contato p {
   padding: 25px 0px 20px 0px;
   margin: 0 -60px 0 -60px;
   font-size: 12px;
   line-height: 19.4px;
}

.formulario {
   padding: 20px 0 70px 0px;
}

.formulario input, .formulario textarea {
   width: 100%;
   height: 36px;
}

.formulario select {
   width: 100%;
}

.formulario textarea {
   height: 150px;
   font-family: Roboto,Helvetica,Arial,sans-serif;
   color: #9e9e9e;
}

.contato-formulario p {
   margin: -20px -60px 0 0px; 
}

.contato-informacoes p, .contato-informacoes-direita p {
   font-size: 12px;
   text-align: center;
}

.contato-informacoes-direita {
   text-align: center;
   margin-top: 30px;
   margin-left: 0px;
}

.contato-informacoes {
   padding: 0px;
}

/* Footer */
.rodape p, .rodape strong {
   font-size: 12px;
   padding: 0px 0 10px 0;
   line-height: 19px;
}

.endereco-footer {
   margin-top: 20px;
}

.redes-sociais-footer {
   margin-top: 20px;
   margin-bottom: 5px;
}

.logo-rodape img {
   margin: -10px 0 -40px 0;
}

.coluna-central p, .icones-redes {
   margin-left: -60px;
}

#creditos {
   font-size: 10px;
}

}

/* Estilo para smartphones de telas menores */
@media only screen and (max-width: 499px) {

/* Header Superior */
.cabecalho-superior {
   padding: 10px 0 5px 0;
}

.cabecalho-superior p {
   font-size: 10px;
}

.cabecalho-superior p:nth-child(1) {
   margin: -10px auto 0px auto;
   text-align: center;
}

.cabecalho-superior p:nth-child(2) {
   padding: 30px 0 0px 0;
   margin: 0;
   text-align: left;
}

.cabecalho-superior a {
   padding: 5px 20px 5px 20px;
   font-size: 10px;
   margin: 0px -20px 0px 150px;
}

.botao-header {
   margin-top: -20px;
}

/* Header central */
.cabecalho-central img {
   width: 40%;
   height: 60%;
   margin: 30px 0 0 0px;
}

/* Menu hamburguer */
#btn-mobile {
   display: flex;
   margin: -30px 0 0 250px;
   border: none;
   background: none;
   cursor: pointer;
}

#hamburguer {
   width: 20px;
   border-top: 2px solid;
}

#hamburguer::after, #hamburguer::before {
   content: "";
   display: block;
   width: 20px;
   height: 2px;
   background-color: currentColor;
   margin-top: 5px;
   transition: .3s;
   position: relative;
}

#nav.active #hamburguer {
   border-top-color: transparent;
}

#nav.active #hamburguer::before {
   transform: rotate(45deg)
}

#nav.active #hamburguer::after {
   transform: rotate(-45deg);
   top: -7px;
}

#menu {
   display: none;
   position: absolute;
   width: 300px;
   height: 215px;
   top: 145px;
   left: 0;
   background-color: white;
   z-index: 1000;
}

#menu a {
   margin: 0px;
   padding: 12px 0px 12px 50px;
   transition: .4s;
   display: block;
   width: 300px;
}

#menu a:hover {
   background-color: rgba(79, 105, 0, 0.7);
   color: white;
}

#menu #ativo {
   background-color: #6f9202;
}

#menu #ativo:hover {
   opacity: 0.8;
}

#menu li {
   padding: 0px 0px 0px 0px;
   margin: 0 0 0px 0;
   display: block;
   width: 300px;
   border-top: 1px solid #9e9e9e;
}

#menu li:nth-child(1) {
   border-top: none;
}

#nav.active #menu {
   display: block;
   text-align: left;
}


/* Index */
.introducao {
   background-size: 350%;
}

.introducao h1 {
   font-size: 26.6px;
   padding-top: 180px;
   margin-right: 20px;
   line-height: 31.92px;
}

.introducao h2 {
   margin-right: 20px;
   line-height: 22px;
   position: absolute;
   right: 0;
}

.descricao-introducao {
   background-position: bottom right;
   height: 297px;
}

.descricao-introducao p {
   padding: 0px 0 10px 0;
   margin: 0 auto;
   font-size: 12px;
   line-height: 19.4px;
}

.atendimentos-introducao h2::before {
   width: 70px;
}

.atendimentos-introducao h2::after {
   width: 60px;
   margin-left: 250px;
}


.atendimentos-introducao ul li {
   padding: 30px 20px 20px 40px;
}

.atendimentos-introducao ul li p {
   font-size: 12px;
   margin: -35px 0 20px 60px;
}

.convenios-introducao {
   padding: 50px 0 20px 0;
}

.convenios-introducao h2::after {
   margin: -15px auto 0 auto;
}

.convenios-introducao h3 {
   font-size: 12px;
}

.consultorio-introducao {
   height: 980px;
   margin-bottom: 30px;
}

.consultorio-introducao a {
   padding: 10px 22px 10px 22px;
   margin: 0px 0 0 105px;
   font-size: 12px;
   border-radius: 25px;
}

.solicitar-consulta {
   height: 20px;
}

.solicitar-consulta a {
   margin: 0px 0 0px 77px;
   padding: 10px 20px 10px 20px;
   font-size: 12px;
}

/* Servicos */
.descricao-servicos p {
   padding: 0px 15px 0 15px;
   line-height: 19.4px;
   font-size: 12px;
   text-align: center;
   margin: 0 auto;
}

.descricao-servicos img {
   width: 70%;
   height: 70%;
   margin: 30px 0 0 50px;
}

.descricao2-servicos p {
   text-align: center;
   margin: 0 auto;
}

.atendimentos-servicos {
   margin-top: 50px;
}

.atendimentos-servicos h2::before, .atendimentos-servicos h2::after {
   display: none;
}

.atendimentos-servicos ul li {
   padding: 50px 20px 0px 30px;
}

.atendimentos-servicos h3 {
   font-size: 16px;
   margin: -50px 0 0px 55px;
   line-height: 29px;
}

.atendimentos-servicos p {
   line-height: 19.4px;
   font-size: 12px;
   padding: 10px 0 0 0;
   margin: 0 -10px 0 -10px;
   text-align: center;
}

.consultorio-servicos h2 {
   font-size: 25px;
   padding: 70px 0 5px 0;
}

.consultorio-servicos p {
   font-size: 12.6px;
}

.consultorio-servicos img {
   width: 100%;
   height: 275px;
   border-radius: 65px;
   padding: 40px;
   margin: 0px 0 -50px 0px;
}

/* Contato */
.contato h2 {
   font-size: 25px;
   margin: 30px 0 0px 0;
}

.contato p {
   padding: 25px 0px 20px 0px;
   margin: 0 auto;
   font-size: 12px;
   line-height: 19.4px;
}

.formulario {
   padding: 20px 0 70px 0px;
}

.formulario input, .formulario textarea {
   width: 90%;
   height: 36px;
}

.formulario select {
   width: 90%;
}

.formulario textarea {
   height: 150px;
   font-family: Roboto,Helvetica,Arial,sans-serif;
   color: #9e9e9e;
}

.contato-formulario p {
   margin: 0 auto; 
   padding: 0 10px 0 5px;
}

.contato-informacoes p, .contato-informacoes-direita p {
   font-size: 12px;
   text-align: center;
}

.contato-informacoes-direita {
   text-align: center;
   margin-top: 30px;
   margin-left: 0px;
}

.contato-informacoes {
   padding: 0px;
}

/* Privacidade */
.privacidade {
   margin: 0 10px;
}

.privacidade p {
   padding: 10px;
}

/* Footer */
.rodape p, .rodape strong {
   font-size: 12px;
   padding: 0px 0 10px 0;
   line-height: 19px;
}

.endereco-footer {
   margin-top: 20px;
}

.redes-sociais-footer {
   margin-top: 20px;
   margin-bottom: 5px;
}

.logo-rodape img {
   margin: -10px 0 -40px 0;
}

.coluna-central p, .icones-redes {
   margin: 0 auto;
}

#creditos {
   font-size: 10px;
}

}